<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-title color="light">
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      1. Chip
    </ion-label>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-label>
      2. Datetime
    </ion-label>
    <ion-datetime [isDateEnabled]="isWeekday"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>
      3. Input
    </ion-label>
    <ion-input label="User name" label-placement="floating" fill="outline" placeholder="กรอกข้อมูล"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      4. List
    </ion-label>
    <ion-list lines="full">
      <ion-item>
        <ion-label>IT</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>ACC</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>ME</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

</ion-content>
